.logo {
    display: flex;
    align-items: center;
}

.red-diamond {
    width: 20px;
    height: 20px;
    background-color: #ff0000;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    margin-right: 10px;
}
.icon-wrapper {
    position: relative; /* Ensure positioning context */
}

img {
    vertical-align: middle; /* Align the icon vertically */
}

.welcome-text {
    display: inline-block; /* Make the text inline for better alignment */
    line-height: 40px; /* Match the height of the icon */
    margin-left: 10px; /* Adds some space */
}
