<!-- contacts-app.component.html -->  
  
<!-- <h1 class="main-content">Contacts App</h1>   -->
<span class="main-content"><button (click)="toggleOpen()" class="submit-button" *ngIf="isOpen">
    New
  </button></span>

  <app-contact-form [contact]="selectedContact" (toggle)="toggleOpen()" [isAddMode]="isAddMode" [isShowForm]="isShowForm" (loadContacts)="loadContacts()"></app-contact-form>
  <div class="search-bar">
    <input type="text" [(ngModel)]="searchTerm" placeholder="Search contacts..." style="float: right;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 10px;"/>
  </div>
<!-- Main Content Section -->  
<div class="main-content container" *ngIf="showList">  
  
  <table>  
   <thead>  
    <tr>  
      <th>Id</th>  
      <th>First Name</th>  
      <th>Last Name</th>  
      <th>Email</th>  
      <th>Edit</th>  
      <th>Delete</th>  
    </tr>  
   </thead>  
   <tbody>  
    <tr *ngFor="let contact of filteredContacts | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">  
      <td>{{ contact.id }}</td>  
      <td>{{ contact.firstName }}</td>  
      <td>{{ contact.lastName }}</td>  
      <td>{{ contact.email }}</td>  
      <td>  
       <button class="edit-btn" (click)="editContact(contact)">Edit</button>   
      </td>  
      <td>  
        <button class="delete-btn" (click)="deleteContact(contact.id)">Delete</button>   
      </td>  
    </tr>  
   </tbody>  
  </table>   
  <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
</div>


