/* contacts-app.component.css */
.container {
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #f8f9fa; /* Light background */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }
.header {
    background-color: #f0f0f0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.logo {
    display: flex;
    align-items: center;
}

.red-diamond {
    width: 20px;
    height: 20px;
    background-color: #ff0000;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    margin-right: 10px;
}

.app-name {
    font-size: 18px;
    font-weight: bold;
}

.main-content {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}

.new-btn {
    background-color: green;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

.edit-btn {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

.delete-btn {
    background-color: #dc3545;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

.submit-button {
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
  }